<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <record name="default" javaclass="com.wm.data.ISMemDataImpl">
      <value name="alias">default</value>
      <jboolean name="isEnabled">true</jboolean>
      <value name="username">hybridconn</value>
      <null name="pswdHandle"/>
      <value name="iLiveURL">https://presalesemeadev.int-aws-de.webmethods.io</value>
      <value name="umURL"></value>
      <jboolean name="authenticate">true</jboolean>
      <array name="stages" type="record" depth="1">
      </array>
      <record name="queueNames" javaclass="com.wm.data.ISMemDataImpl">
        <value name="fromOnPremiseQueueName"></value>
        <value name="toOnPremiseQueueName"></value>
        <value name="fromOnPremiseAdminQueueName"></value>
        <value name="toOnPremiseAdminQueueName"></value>
      </record>
      <record name="queues" javaclass="com.wm.data.ISMemDataImpl">
        <value name="fromOnPremiseQueueName"></value>
        <value name="toOnPremiseQueueName"></value>
        <value name="fromOnPremiseAdminQueueName"></value>
        <value name="toOnPremiseAdminQueueName"></value>
      </record>
      <value name="tenantId"></value>
      <null name="agentID"/>
      <null name="agentGroup"/>
      <null name="accessTokenHandle"/>
      <null name="refreshTokenHandle"/>
    </record>
  </record>
</IDataXMLCoder>
